<div class="signup-form">
    <form>
        <textarea>Load data here</textarea>
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" formControlName="first_name" placeholder=" Name" required="required"></div>
			</div>        	
        </div>
        <br />
        <div class="form-group">
        	<input type="email" class="form-control" formControlName="email" placeholder="Email" required="required">
        </div>
        <br />
		<div class="form-group">
            <input type="phone" class="form-control" formControlName="phone" placeholder="Phone" required="required">
        </div>
        <br />
		<div class="form-group">
            <input type="role" class="form-control" formControlName="role" placeholder="Role" required="required">
        </div>    
        <br />
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Check</button>
        </div>
    </form>
</div>